@import "../../global.scss";

.portfolioList {
  font-size: 15px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &.active{
    background-color: #06a571;
    border: 3px solid #78be1e;
    color: white;
  }
}
